.video-section {
  background: #fff;
  margin: 120px 6%;

  @media (max-width: 1280px) {
    margin: 150px 4%;
  }

  @media (max-width: 1200px) {
    margin: 150px 0%;
  }

  @media (max-width: 832px) {
    margin: 100px 0%;
  }

  @media (max-width: 682px) {
    margin-top: 100px;
    margin-bottom: -100px;
  }

  .container {
    display: grid;
    height: 100%;
    min-height: 540px;
    grid-template-columns: 0.5fr 1fr;
    gap: 60px;

    @media (max-width: 1280px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 550px;
      row-gap: 60px;
    }

    @media (max-width: 732px) {
      row-gap: 30px;
    }

    @media (max-width: 532px) {
      row-gap: 0px;
    }

    .text-container {
      width: 376px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 1280px) {
        width: 60%;
        margin: 0 auto;
      }

      @media (max-width: 932px) {
        width: 80%;
        justify-content: flex-start;
      }

      @media (max-width: 732px) {
        width: 90%;
      }

      .heading {
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: 40px; /* 133.333% */
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        flex-wrap: wrap;
        gap: 6px;

        @media (max-width: 1280px) {
          flex-direction: row;
          justify-content: center;
          margin-right: 8%;
        }

        @media (max-width: 732px) {
          justify-content: flex-start;
        }
      }

      .description {
        color: #6c676e;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px; /* 150% */
      }
    }

    .video-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      @media (max-width: 1280px) {
        width: 70%;
        margin: 0 auto;
      }

      @media (max-width: 1140px) {
        width: 78%;
      }

      @media (max-width: 970px) {
        width: 90%;
      }

      @media (max-width: 680px) {
        width: 96%;
        padding-left: 0;
        height: 90%;
      }

      @media (max-width: 576px) {
        padding-left: 6px;
      }

      .first-video {
        overflow: hidden;
        width: 398.546px;
        height: 398.546px;
        transform: rotate(5deg);
        flex-shrink: 0;
        border-radius: 398.546px;
        background: linear-gradient(
          338deg,
          rgba(239, 70, 38, 0.08) 6.28%,
          rgba(134, 40, 136, 0.15) 92.69%
        );

        .video-element {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 820px) {
          width: 350px;
          height: 350px;
        }

        @media (max-width: 620px) {
          width: 300px;
          height: 300px;
        }

        @media (max-width: 576px) {
          width: 200px;
          height: 200px;
        }
      }

      .second-video {
        overflow: hidden;
        position: absolute;
        left: 56%;
        top: 0;
        width: 283.002px;
        height: 283.002px;
        // transform: rotate(-97.584deg);
        flex-shrink: 0;
        border-radius: 283.002px;
        background: linear-gradient(
          338deg,
          rgba(239, 70, 38, 0.08) 6.28%,
          rgba(134, 40, 136, 0.15) 92.69%
        );

        .video-element {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 820px) {
          width: 240px;
          height: 240px;
        }

        @media (max-width: 620px) {
          width: 160px;
          height: 160px;
          top: 60px;
          left: 53%;
        }
      }

      .third-video {
        overflow: hidden;
        position: absolute;
        left: 57%;
        bottom: 10px;
        width: 220.977px;
        height: 220.977px;
        transform: rotate(-10deg);
        flex-shrink: 0;
        border-radius: 220.977px;
        background: linear-gradient(
          338deg,
          rgba(239, 70, 38, 0.08) 6.28%,
          rgba(134, 40, 136, 0.15) 92.69%
        );

        .video-element {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 820px) {
          width: 140px;
          height: 140px;
        }

        @media (max-width: 620px) {
          width: 123px;
          height: 123px;
          left: 55%;
          bottom: 80px;
        }
      }
    }
  }
}
